* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-family: 'lato' ,'Arial' , sans-serif;
    text-rendering: optimizeLegibility;
}

.upload-section
{
    width: 100%;
    margin-top: 5%!important;
}

.upload-file
{
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.file-form
{
    padding-left: 4%;
    padding-right: 4%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.file-form-input
{
    max-width: 50%;
    border-radius: 200px;
    border: 1px solid #41b3a3;
    color: white;
    display: inline-block;
    padding: 8px 20px 8px 20px;
    font-weight: 300;
    text-decoration: none;
    font-size: 20px;
    transition: background-color 0.2s , border 0.2s , color 0.2s;
}

.file-form-input:focus
{
    outline: none;
}

.btn
{
    width: 10%;
    font-size: 20px!important;
    height: 15%;
    max-width: 30%;
}